# MongoDB Connection String
# Replace the value below with your actual connection string from MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/ph_newspaper

# Base URL for APIs (Optional but recommended for production)
NEXT_PUBLIC_BASE_URL=http://localhost:3000
